name: Deploy

on:
  push:
    branches:
      - master  # Update to match your main branch name

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install npm dependencies
        run: npm i

      - name: Build
        run: npm run build

      - name: Configure Git
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git config --global credential.helper store  # Store Git credentials
          echo "https://github.com:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials

      - name: Deploy
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
          npm run deploy


